publish_to: none
name: minisound_ffi
description: FFI implementation of the Minisound package.
version: 3.0.0
repository: https://github.com/DaniilAlpha/minisound/tree/release/minisound_ffi

#####

environment:
  sdk: ">=3.1.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  ffi: ^2.1.4
  minisound_platform_interface:
    path: ../minisound_platform_interface

dev_dependencies:
  flutter_lints: ^6.0.0
  ffigen: ^20.1.1

#####

ffigen:
  name: MinisoundFfiBindings
  description: "Bindings for minisound.h"
  output: lib/src/minisound_ffi_bindings.dart
  headers:
    entry-points:
      - "src/include/minisound.h"
    include-directives:
      - "src/include/**"
  structs:
    dependency-only: opaque
  unions:
    dependency-only: opaque
  preamble: |
    // ignore_for_file: camel_case_types
    // ignore_for_file: prefer_double_quotes
    // ignore_for_file: non_constant_identifier_names
    // ignore_for_file: constant_identifier_names
    // ignore_for_file: prefer_expression_function_bodies
    // ignore_for_file: sort_constructors_first
    // ignore_for_file: unused_element, unused_field
  compiler-opts:
    - -I/usr/lib/clang/21/include/
    - -I./src/include/
    - -I./src/external/result/
    - -I./src/external/woodi/
    - -std=c11
  silence-enum-warning: true

##

flutter:
  plugin:
    implements: minisound
    platforms:
      android:
        ffiPlugin: true
        dartPluginClass: MinisoundFfi
      ios:
        ffiPlugin: true
        dartPluginClass: MinisoundFfi
      linux:
        ffiPlugin: true
        dartPluginClass: MinisoundFfi
      macos:
        ffiPlugin: true
        dartPluginClass: MinisoundFfi
      windows:
        ffiPlugin: true
        dartPluginClass: MinisoundFfi
