[submodule "minisound_ffi/src/external/milo"]
	path = minisound_ffi/src/external/milo
	url = https://github.com/DaniilAlpha/milo.git
[submodule "result"]
	path = minisound_ffi/src/external/result
	url = https://github.com/DaniilAlpha/result
[submodule "minisound_ffi/src/external/woodi"]
	path = minisound_ffi/src/external/woodi
	url = https://github.com/DaniilAlpha/woodi.git
[submodule "minisound_ffi/test_native/external/miunte"]
	path = minisound_ffi/test_native/external/miunte
	url = https://github.com/DaniilAlpha/miunte.git
[submodule "minisound_ffi/src/external/miniaudio"]
	path = minisound_ffi/src/external/miniaudio
	url = git@github.com:DaniilAlpha/miniaudio.git
