publish_to: none
name: minisound_web
description: Web implementation of the Minisound package.
version: 3.0.0
repository: https://github.com/DaniilAlpha/minisound/tree/release/minisound_web

#####

environment:
  sdk: ">=3.3.0 <4.0.0"
  flutter: ">=1.20.0"

dependencies:
  minisound_platform_interface:
    path: ../minisound_platform_interface

dev_dependencies:
  flutter_lints: ^6.0.0

#####

flutter:
  plugin:
    implements: minisound
    platforms:
      web:
        pluginClass: MinisoundWeb
        fileName: minisound_web.dart

  assets:
    - packages/minisound_web/src/build/minisound_web.loader.js

    - packages/minisound_web/src/build/release/minisound_web.js
    - packages/minisound_web/src/build/release/minisound_web.wasm

    - packages/minisound_web/src/build/debug/minisound_web.js
    - packages/minisound_web/src/build/debug/minisound_web.wasm
    - packages/minisound_web/src/build/debug/minisound_web.wasm.map
