name: minisound
description: A high-level real-time audio library for playback, generation and recording, focusing on ease of use and performance. Based on miniaudio.
version: 3.0.1
repository: https://github.com/DaniilAlpha/minisound/tree/release/minisound
topics:
  - audio
  - player
  - recorder
  - sound
  - music

#####

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.22.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  minisound_platform_interface:
    path: ../minisound_platform_interface
  minisound_ffi:
    path: ../minisound_ffi
  minisound_web:
    path: ../minisound_web
  collection: ^1.19.1

dev_dependencies:
  flutter_lints: ^6.0.0

#####

flutter:
  plugin:
    platforms:
      android:
        default_package: minisound_ffi
      ios:
        default_package: minisound_ffi
      linux:
        default_package: minisound_ffi
      macos:
        default_package: minisound_ffi
      windows:
        default_package: minisound_ffi
      web:
        default_package: minisound_web

