name: Test Build on All Platforms

on:
  push:
    branches: [master, dev]
  pull_request:
    branches: [master, dev]

jobs:
  build:
    strategy:
      matrix:
        os: 
          - ubuntu-latest
          # - windows-latest
          # - macos-latest
    runs-on: ${{matrix.os}}

    steps:
      - name: Clone the repo
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Set up CMake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: "^3.11.0"

      - name: Set up Flutter dependencies
        run: sudo apt-get update -y && sudo apt-get install -y clang libgtk-3-dev

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Test build
        working-directory: minisound/example/
        run: |
          flutter doctor -v
          flutter build linux --debug
