name: Publish to pub.dev

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

jobs:
  publish:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repo
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Set up Dart
        uses: dart-lang/setup-dart@v1 

      # // TODO!!! do something to publish all the packages

      # - name: Publish
      #   run: dart pub publish --force
